:root {
    --primary: #0BBC7F;
    --secondary: #FFFF00;
    --background: #252525;
    --img: #52565A;
    --text: #ffffff;

    --wrapper-width: 85%;

    --ease: cubic-bezier(0, 0.55, 0.45, 1);
    --soft: cubic-bezier(0.85, 0, 0.15, 1);

    --in-duration: 0.8s;
    --out-duration: 0.5s;
}