// defaults
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    flex-direction: column;
    justify-content: center;
    background: #333;
}

// typography
h1, h2, h3, h4, p, li, a, span, small {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    color: black;
}

h1 {
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-size: 1.4em;
    color: white;
}

h3 {
    font-size: 1em;
    // font-weight: 900;
    // text-transform: uppercase;
}

p {
    margin-bottom: 15px;
}

.b {
    font-weight: 900;
}

header {
    h3 {
        padding: 40px 0 5px 0;
        margin-bottom: 40px;
        width: 400px;
        border-bottom: solid 1.5px black;
    }
}

// containers
.wrapper {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
}

// navbar 
#navbar {
    position: fixed;
    background: white;
    width: 100%;
    height: 60px;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1em;

        .nav-logo {
            display: flex;
            align-items: center;

            svg {
                transform: rotate(-6deg);
            }

            span {
                color: black;
                text-transform: uppercase;
                margin-left: 5px;
            }
        }

        nav a {
            display: inline-block;
            
            &:not(:first-child) {
                margin-left: 50px;
            }
        }
    }    
}

// parallax backgrounds
.parallax {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 500px;
}

.bg-01 {
    background-image: url("/img/bg_blue.png");

    h1, h2 {
        text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    }
}

.bg-02 {
    background-image: url("/img/bg_yellow.png");
    flex-direction: row;

    .icon {
        width: 100px;
        height: 100px;
        background: white;

        &:not(:first-child) {
            margin-left: 100px;
        }
    }
}

// sections 
section {
    background: white;
}

// projects
.img {
    height: 300px;
    border: solid black 1px;
}

#projects {
    .grid {
        padding-bottom: 60px;

        .project {
            // width: 48%;
            padding-bottom: 40px 0;
    
            h2 {
                color: black;
                margin: 10px 0;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}

// contact
#contact {
    padding-bottom: 100px;

    // p {
    //     margin: 5px 0;
    // }

    h2 {
        margin-top: 10px;
        a {
            color: #0081E4;
        }
    }

    p a {
        text-decoration: underline;
    }
}