* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #0BBC7F;
    --secondary: #FFFF00;
    --background: #252525;
    --text: #ffffff;
    --wrapper-width: 85%;
    --ease: cubic-bezier(0.87, 0, 0.13, 1);
}

@font-face {
    font-family: "Ubuntu-Bold";
    src: url("/fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Ubuntu-Light";
    src: url("/fonts/Ubuntu-Light.ttf");
}

h1 {
    font-family: "Ubuntu-Bold";
    font-size: 34px;
    text-transform: uppercase;
    color: var(--text);
}

h2 {
    font-family: "Ubuntu-Bold";
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text);
}

p, a, button {
    font-family: "Ubuntu-Light";
    font-size: 12px;
    color: var(--text);
}

button {
    background: transparent;
    border: solid var(--text) 2px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background: var(--primary);
    border: none;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background);
    overflow: hidden;
}

.background-image {
    position: absolute;
    background: #52565A;
    width: 100vw;
    height: 100vh;
    margin: auto;
    top: 0;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--wrapper-width);
}

.logo {
    position: fixed;
    top: 3%;
    z-index: 10;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--wrapper-width);
    bottom: 5%;
}

nav ul  {
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
    padding: 0 10px;
}

nav ul li {
    display: inline-block;
}

.menu-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-icon {
    position: fixed;
    bottom: 5%;
    margin-left: auto;
    cursor: pointer;
    transition: 0.8s var(--ease);
}

.menu-icon span {
    display: flex;
    width: 25px;
    height: 2px;
    background: var(--text);
    content: "";
    transition: 0.5s var(--ease);
}

.menu-icon span:nth-child(2) {
    margin: 6px 0;
}

.close-menu-icon {
    width: 25px;
    transform: rotate(-90deg);
}

.close-menu-icon span:first-child {
    width: 0;
    opacity: 0;
}

.close-menu-icon span:nth-child(2) {
    margin: 0;
    transform: rotate(45deg);
}

.close-menu-icon span:last-child {
    transform: rotate(-45deg) translate(1px, -1px);
}

.main-content {
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: transform 0.6s var(--ease);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.cta-wrapper {
    display: flex;
    justify-content: center;
    width: 270px;
    margin: 40px auto 0 auto;
}

.scroll-indicator {
    display: flex;
    width: 2px;
    height: 100px;
    margin: 15vh auto 0 auto;
    background: rgba(255, 255, 255, 0.2);
}

.scroll-indicator span {
    position: inherit;
    display: flex;
    background: #ffffff;
    width: 2px;
    height: 100%;
    content: "";
    animation: scroll-indicator 5s var(--ease) infinite;
}

/* Animation Classes for JavaScript */
.navigation-menu-scale {
    transform: scale(0.7);
}

/* Animations */
@keyframes scroll-indicator {
    0% { opacity: 0; }
    30% { opacity: 1; height: 100%; }
    50% { height: 30%; }
    70% { opacity: 1; height: 30%; }
    100% { opacity: 0; height: 30%; }
}