* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #0BBC7F;
    --secondary: #FFFF00;
    --background: #252525;
    --img: #52565A;
    --text: #ffffff;

    --wrapper-width: 85%;

    --ease: cubic-bezier(0, 0.55, 0.45, 1);
    --soft: cubic-bezier(0.85, 0, 0.15, 1);

    --in-duration: 0.8s;
    --out-duration: 0.5s;
}

@font-face {
    font-family: "Bold";
    src: url("/fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("/fonts/Ubuntu-Regular.ttf");
}

h1 {
    font-family: "Bold";
    font-size: 34px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text);
}

h2 {
    font-family: "Bold";
    font-size: 12px;
    text-transform: uppercase;
    color: var(--text);
}

h3 {
    font-family: "Regular";
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--text);
}

p, a, button, span {
    font-family: "Regular";
    font-size: 12px;
    color: var(--text);
}

button {
    background: transparent;
    border: solid var(--text) 2px;
    width: 120px;
    height: 50px;
    cursor: pointer;
}

button:hover {
    background: var(--primary);
    border: none;
}

body {
    width: 100%;
    height: 100%;
    background: var(--primary);
    overflow: hidden;
}

main {
    overflow: hidden;
}

.background-image {
    position: absolute;
    background: linear-gradient(15deg, rgb(47, 51, 54) 0%, rgb(18, 24, 29) 70%);;
    width: 100vw;
    height: 100%;
    margin: auto;
    top: 0;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: var(--wrapper-width);
}

.header {
    position: fixed;
    display: flex;
    align-items: center;
    top: 3%;
    z-index: 10;
}

.header span {
    margin-left: 10px;
}

.page-section {
    margin-top: 100px;
}

.page-section-title {
    margin: 40px auto;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--wrapper-width);
    bottom: 5%;
}

nav ul  {
    margin: 0 auto;
}

nav ul li a {
    text-decoration: none;
    padding: 0 10px;
}

nav ul li {
    display: inline-block;
}

.menu-icon-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu-icon {
    position: fixed;
    bottom: 5%;
    margin-left: auto;
    cursor: pointer;
    transition: 0.8s var(--ease);
}

.menu-icon span {
    display: flex;
    width: 25px;
    height: 2px;
    background: var(--text);
    content: "";
    transition: 0.5s var(--ease);
}

.menu-icon span:nth-child(2) {
    margin: 6px 0;
}

.close-menu-icon {
    width: 25px;
    transform: rotate(-90deg);
}

.close-menu-icon span:first-child {
    width: 0;
    opacity: 0;
}

.close-menu-icon span:nth-child(2) {
    margin: 0;
    transform: rotate(45deg);
}

.close-menu-icon span:last-child {
    transform: rotate(-45deg) translate(1px, -1px);
}

.scroll-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.scroll-icon {
    position: relative;
    display: flex;
    justify-content: center;
    width: 20px;
    height: 36px;
    border: solid var(--text) 2px;
    border-radius: 100px;
    content: "";
}

.scroll-icon-ball {
    background: var(--text);
    width: 6px;
    height: 6px;
    margin-top: 6px;
    border-radius: 100%;
    animation: scroll-icon 5s ease infinite;
    content: "";
}

.main-content {
    position: relative;
    height: 100vh;
    overflow: hidden;
    transition: var(--out-duration) var(--ease);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}

.main-content-border {
    border-radius: 4px;
}

.cta-wrapper {
    display: flex;
    justify-content: center;
    width: 270px;
    margin: 40px auto 0 auto;
}

/* Animation Classes for JavaScript */
.navigation-menu-scale {
    transform: scale(0.7);
}

.transition--enter {
    opacity: 0;
    transform: translateY(40px);
}

.transition--enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: transform var(--in-duration) var(--ease), opacity var(--in-duration) ease;
}

.transition--exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition:  transform var(--out-duration) var(--ease), opacity 0.3s var(--ease);
}

/* Animations */
@keyframes scroll-icon {
    0% { transform: translateY(0); }
    30% { transform: translateY(18px); }
    70% { transform: translateY(18px); }
    100% { transform: translateY(0); }
}